<FlexboxLayout class="page">
	<StackLayout class="form">
		<Label class="header" text="DINODIME"></Label>

		<StackLayout class="input-field">
			<TextField class="input" [hint]="'login_page.email' | translate" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]="Username" returnKeyType="next" (returnPress)="focusPassword()"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout class="input-field">
			<TextField #password class="input" [hint]="'login_page.password' | translate" secure="true" [(ngModel)]="Password" [returnKeyType]="isLoggingIn ? 'done' : 'next'" (returnPress)="focusConfirmPassword()"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<StackLayout *ngIf="!isLoggingIn" class="input-field">
			<TextField #confirmPassword class="input" [hint]="'login_page.confirm_password' | translate" secure="true" [(ngModel)]="ConfirmPassword" returnKeyType="done"></TextField>
			<StackLayout class="hr-light"></StackLayout>
		</StackLayout>

		<Button [text]="isLoggingIn ? ('login_page.login' | translate) : ('login_page.sign_up' | translate)" (tap)="submit()" class="btn btn-primary m-t-20"></Button>
		<Label *ngIf="isLoggingIn" [text]="'login_page.forgot_password' | translate" class="login-label" (tap)="forgotPassword()"></Label>
	</StackLayout>

	<Label class="login-label sign-up-label" (tap)="toggleForm()">
		<FormattedString>
			<Span [text]="isLoggingIn ? ('login_page.dont_have_account' | translate) : ('login_page.back_to_login' | translate)"></Span>
			<Span [text]="isLoggingIn ? ('login_page.sign_up' | translate) : ''" class="bold"></Span>
		</FormattedString>
	</Label>
</FlexboxLayout>
  