{
  "IsUserAuthenticatedFunction": {
    "LOGGER_LEVEL": "debug",
    "FINAPI_URL": "https://sandbox.finapi.io",
    "FINAPI_TIMEOUT": 3000,
    "AWS_REGION": "eu-central-1",
    "AUTH_TYPE": "simple",
    "AUTH_CLIENT_ID": "",
    "AUTH_CLIENT_SECRET": ""
  },
  "RegisterUserFunction": {
    "LOGGER_LEVEL": "debug",
    "FINAPI_URL": "https://sandbox.finapi.io",
    "FINAPI_TIMEOUT": 3000,
    "AWS_REGION": "eu-central-1",
    "AUTH_TYPE": "simple",
    "AUTH_CLIENT_ID": "",
    "AUTH_CLIENT_SECRET": ""
  },
  "UpdateRefreshTokenFunction": {
    "LOGGER_LEVEL": "debug",
    "FINAPI_URL": "https://sandbox.finapi.io",
    "FINAPI_TIMEOUT": 3000,
    "AWS_REGION": "eu-central-1",
    "AUTH_TYPE": "simple",
    "AUTH_CLIENT_ID": "",
    "AUTH_CLIENT_SECRET": ""
  },
  "AuthenticateAndSaveUserFunction": {
    "LOGGER_LEVEL": "debug",
    "FINAPI_URL": "https://sandbox.finapi.io",
    "FINAPI_TIMEOUT": 3000,
    "AWS_REGION": "eu-central-1",
    "AUTH_TYPE": "simple",
    "AUTH_CLIENT_ID": "",
    "AUTH_CLIENT_SECRET": ""
  },
  "GetAllowanceFunction": {
    "LOGGER_LEVEL": "debug",
    "FINAPI_URL": "https://sandbox.finapi.io",
    "FINAPI_TIMEOUT": 3000,
    "AWS_REGION": "eu-central-1",
    "AUTH_TYPE": "simple",
    "AUTH_CLIENT_ID": "",
    "AUTH_CLIENT_SECRET": ""
  },
  "FetchWebFormInfoFunction": {
    "LOGGER_LEVEL": "debug",
    "FINAPI_URL": "https://sandbox.finapi.io",
    "FINAPI_TIMEOUT": 3000,
    "AWS_REGION": "eu-central-1",
    "AUTH_TYPE": "simple",
    "AUTH_CLIENT_ID": "",
    "AUTH_CLIENT_SECRET": ""
  },
  "GetWebFormIdFunction": {
    "LOGGER_LEVEL": "debug",
    "FINAPI_URL": "https://sandbox.finapi.io",
    "FINAPI_TIMEOUT": 3000,
    "AWS_REGION": "eu-central-1",
    "AUTH_TYPE": "simple",
    "AUTH_CLIENT_ID": "",
    "AUTH_CLIENT_SECRET": ""
  },
  "HelloWorldFunction": {
  }
}
