<FlexboxLayout class="page">
<StackLayout class="form">
    <Button text="Back to Allowance" (tap)="onBack()" ></Button>
    <Label *ngIf="!enableWebView" text="Search a Bank" class="label"></Label>
    <TextField *ngIf="!enableWebView" class="input" [(ngModel)]="SearchedBlz" hint="Enter a BLZ..."></TextField>
    <Button *ngIf="!enableWebView" text="Search" (tap)="onSearch()" ></Button>
    <Button [text]="'Add ' + bank.Name" (tap)="onAddAccount()" *ngIf="(enableBank && (!enableWebView))" ></Button>
    <WebView *ngIf="enableWebView" [src]="webViewSrc"
         (loadStarted)="onLoadStarted($event)"
         (loadFinished)="onLoadFinished($event)">
    </WebView>
</StackLayout>
</FlexboxLayout>