<GridLayout class="page page-content home-page-content" rows="280, 100, *">

    <!-- Balance Summary -->
    <GridLayout row="0" columns="*, 300, *" class="balance-summary">
        <StackLayout col="1">
            <Label *ngIf="isAllowanceIncreased" class="arrow-up arrowanimation-up" [style.width]="'100px'" [style.height]="'50px'"></Label>
            <Label [text]="allowanceValue" class="ammount allowance-value"></Label>
            <Label *ngIf="!isAllowanceIncreased" class="arrow-down arrowanimation-down" [style.width]="'100px'" [style.height]="'50px'"></Label>
        </StackLayout>
    </GridLayout>

    <GridLayout row="1" columns="*" class="balance-summary">
        <StackLayout col="0">
            <Button text="Add Bank Account" (tap)="onTap()" ></Button>
        </StackLayout>
    </GridLayout>
</GridLayout>